/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2012, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2012, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
﻿/*Created with Adobe RoboHelp 9.*/
p.FM_numbers1step {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_numbers1step {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Footnote {
	margin-left: 12.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -12.000pt;
	margin-top: 3.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_Footnote {
	margin-left: 12.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -12.000pt;
	margin-top: 3.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_CellBulleted {
	margin-left: 13.745pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -13.745pt;
	margin-top: 2.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_CellBulleted {
	margin-left: 13.745pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -13.745pt;
	margin-top: 2.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_1HeadingT {
	text-align: left;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 14pt;
	text-decoration: none;
}
caption.FM_1HeadingT {
	margin-left: 0.000pt;
	margin-right: 48.024pt;
	text-align: left;
	text-indent: 36.000pt;
	margin-top: 16.000pt;
	margin-bottom: 9.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_1HeadingC {
	text-align: left;
	word-spacing: 0em;
	font-family: Arial;
	font-weight: bold;
	font-size: 14.0pt;
	background-color: none;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 14pt;
	color: #000000;
	font-style: normal;
	letter-spacing: -0.2pt;
	text-decoration: none;
}
caption.FM_1HeadingC {
	margin-left: 0.000pt;
	margin-right: 48.024pt;
	text-align: left;
	text-indent: 36.000pt;
	margin-top: 16.000pt;
	margin-bottom: 9.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_TOCtitle {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -126.000pt;
	margin-top: 0.000pt;
	margin-bottom: 48.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: -0.04em;
	text-decoration: none;
}
caption.FM_TOCtitle {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -126.000pt;
	margin-top: 0.000pt;
	margin-bottom: 48.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: -0.04em;
	text-decoration: none;
}
p.FM_Important {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 13.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Important {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 13.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_CellHeading {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 10pt;
	text-decoration: none;
}
caption.FM_CellHeading {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 11.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Anchor {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-bottom: 9pt;
	font-size: 9pt;
	text-decoration: none;
}
caption.FM_Anchor {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 4.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_1Heading {
	margin-left: 0.000pt;
	margin-right: 48.024pt;
	text-align: left;
	text-indent: 36.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	margin-top: 0pt;
	margin-bottom: 14pt;
	text-decoration: none;
}
caption.FM_1Heading {
	margin-left: 0.000pt;
	margin-right: 48.024pt;
	text-align: left;
	text-indent: 36.000pt;
	margin-top: 16.000pt;
	margin-bottom: 9.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Title {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 24.000pt;
	margin-bottom: 12.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_Title {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 24.000pt;
	margin-bottom: 12.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_caption {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_caption {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_2HeadingR {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_2HeadingR {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_option {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_option {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_image {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_image {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_2HeadingT {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 14pt;
	margin-top: 0pt;
	margin-bottom: 14pt;
	text-decoration: none;
}
caption.FM_2HeadingT {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_2HeadingC {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 14pt;
	margin-bottom: 14pt;
	margin-top: 0pt;
	text-decoration: none;
}
caption.FM_2HeadingC {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Notice {
	margin-left: 70.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -70.000pt;
	margin-top: 13.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	border-top-style: Solid;
	border-top-width: 1px;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Notice {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 13.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_bullet1continued {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-indent: -.25pt;
	margin-left: 18.3pt;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_bullet1continued {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_FooterLeft {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: justify;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_FooterLeft {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: justify;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_CellBodyoption {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_CellBodyoption {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_2Heading {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_2Heading {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_numberoutlinecontinued {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_numberoutlinecontinued {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Bulleted1 {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-indent: -.25in;
	margin-left: 0.25in;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Bulleted1 {
	margin-left: 14.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -14.400pt;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_TableTitle {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_TableTitle {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Bulleted2 {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -10.800pt;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Bulleted2 {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -10.800pt;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Bulleted3 {
	margin-left: 46.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Bulleted3 {
	margin-left: 46.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 6.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_ScreenDisplay {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: "Courier New";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_ScreenDisplay {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: "Courier New";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Numbered {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 9.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-bottom: 4pt;
	text-indent: -;
	margin-left: 0pt;
	font-size: 11.0pt;
	mso-font-width: 100%;text-decoration: none;
}
caption.FM_Numbered {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 9.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_bullet2continued {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_bullet2continued {
	margin-left: 28.800pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_NumberedCont {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-left: 2pt;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_NumberedCont {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_numberoutline {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-indent: -20pt;
	margin-left: 20.3pt;
	text-decoration: none;
}
caption.FM_numberoutline {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_cellheading1 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 10pt;
	text-decoration: none;
}
caption.FM_cellheading1 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: center;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Numbered1 {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 9.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-left: 0pt;
	list-style: rh-list;
	x-list-class: rl-p-FM_Numbered1;
	x-list-level: 1;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Numbered1 {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 9.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_NoticeIndent {
	margin-left: 50.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_NoticeIndent {
	margin-left: 50.400pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -36.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_FigureTitle {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 10.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_FigureTitle {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 10.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_3Heading {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 13.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 11.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_3Heading {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 13.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 11.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Body {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Body {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 8.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_numberoutline1 {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-indent: --0in;
	margin-left: 0.25in;text-decoration: none;
}
caption.FM_numberoutline1 {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -18.000pt;
	margin-top: 6.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Indented {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 11pt;
	text-decoration: none;
}
caption.FM_Indented {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_Description {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_Description {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_ChapterTitle {
	margin-right: 0.000pt;
	text-align: left;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 14pt;
	margin-left: 0in;
	margin-top: 0pt;
	margin-bottom: 14pt;
	text-decoration: none;
}
caption.FM_ChapterTitle {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -126.000pt;
	margin-top: 0.000pt;
	margin-bottom: 199.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 24.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_ChapterTitle {
}
p.FM_chapterNoNum {
	margin-right: 0.000pt;
	text-align: left;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	background-color: none;
	letter-spacing: -0.04em;
	font-size: 14pt;
	margin-left: 0in;
	margin-bottom: 16pt;
	margin-top: 0;
	text-decoration: none;
}
caption.FM_chapterNoNum {
	margin-left: 126.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -126.000pt;
	margin-top: 0.000pt;
	margin-bottom: 166.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: -0.04em;
	text-decoration: none;
}
p.FM_CellBody {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_CellBody {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 3.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_1HeadingR {
	margin-left: 0.000pt;
	margin-right: 48.024pt;
	text-align: left;
	text-indent: 36.000pt;
	margin-top: 16.000pt;
	margin-bottom: 9.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
caption.FM_1HeadingR {
	margin-left: 0.000pt;
	margin-right: 48.024pt;
	text-align: left;
	text-indent: 36.000pt;
	margin-top: 16.000pt;
	margin-bottom: 9.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #333333;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
span.FM_WebJump {
	color: #0000ff;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Note {
	font-style: italic;
	font-weight: bold;
	color: #310b88;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_PageNumber {
	font-weight: bold;
}
span.FM_EquationVariables {
	font-style: italic;
}
span.FM_bullet1 {
	font-family: Arial;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
	text-decoration: none;
}
span.FM_bullet2 {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	letter-spacing: 0.00em;
	color: #ffffff;
	text-decoration: none;
}
span.FM_Bold {
	font-weight: bold;
}
span.FM_attribute {
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0.00em;
	font-family: Arial;
	font-size: 10pt;text-decoration: none;
}
span.FM_variables {
	font-family: "Times New Roman";
	font-style: italic;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Emphasis {
	font-style: italic;
}
span.FM_copyright {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Chapter {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 24.0pt;
	color: #000080;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Action {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Strong {
	font-weight: bold;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Symbol {
	font-family: Symbol;
}
span.FM_headingreversed {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #ffffff;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Callout {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	letter-spacing: 0.00em;
}
span.FM_reviewers {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #ff0000;
	letter-spacing: 0.00em;
	text-decoration: underline;
}
span.FM_Link {
	color: #0000ff;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_AttributeName {
	font-family: "Lucida Console";
	font-style: normal;
	font-weight: normal;
	color: #6e1a80;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Code {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_BulletSymbol {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_XRef {
	color: #0000ff;
	text-decoration: underline;
}
span.FM_ScreenDisplay {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_headingsmall {
}
span.FM_bullet2 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_Selection {
	font-family: Arial;
}
span.FM_Note1 {
	font-family: Verdana;
	font-style: italic;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_ChapterNumber {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	letter-spacing: 0.04em;
}
span.FM_Wingding {
	font-family: Wingdings;
	font-style: normal;
	font-size: 10.0pt;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_u {
	font-family: Wingdings;
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.FM_StepNumber {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	font-size: 8.0pt;
	text-decoration: none;
}
span.FM_Bullet3 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.FM_chapter_No_Num {
	margin-top: 0pt;
	font-family: Arial;
	font-size: 14pt;
}
p.FM_ChapterTitle {
}
p.FM_2Heading_C {
	font-size: 14pt;
	font-family: Arial;
	margin-top: 0;
}
p.FM_2Heading_T {
	font-family: Arial;
	font-size: 14pt;
	margin-top: 0;
}
P {
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Arial;
	font-size: 11pt;
}
H1 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	font-size: 14pt;
	x-next-class: ;
	x-next-type: P;
	margin-top: ;
}
H3 {
	font-weight: bold;
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	x-next-class: ;
	x-next-type: P;
	font-size: 11pt;
}
li.number {
	font-family: Arial;
	font-size: 8.0pt;
}
rh-list.rl-p-FM_Numbered1 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
	x-lvl-1-pfx-class: FM_StepNumber;
}
p.CopyofFM_Numbered {
	margin-right: 0.000pt;
	text-align: left;
	margin-top: 9.000pt;
	word-spacing: 0em;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: none;
	letter-spacing: 0.00em;
	margin-bottom: 4pt;
	font-size: 10pt;
	margin-left: 0pt;
	list-style: rh-list;
	x-list-class: rl-p-CopyofFM_Numbered;
	x-list-level: 1;
	text-decoration: none;
}
rh-list.rl-p-CopyofFM_Numbered {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
A.dropspot {
	font-family: Arial;
	font-size: 10pt;
}
A.expandspot {
	font-family: Arial;
	font-size: 10pt;
}
A.breadcrumbs {
	font-family: Arial;
	font-size: 10pt;
}
p.FM_1Heading_C {
}
span.FM_attribute {
}
