<%--
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2006, 2007, 2008, 2009, 2010, 2013, 2014 Zimbra, Inc.
 * 
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * version 2 of the License.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with this program.
 * If not, see <http://www.gnu.org/licenses/>.
 * ***** END LICENSE BLOCK *****
--%>
<%@ tag body-content="empty" %>
<%@ attribute name="high" rtexprvalue="true" required="false" %>
<%@ attribute name="low" rtexprvalue="true" required="false" %>

<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="fmt" uri="com.zimbra.i18n" %>
<%@ taglib prefix="app" uri="com.zimbra.htmlclient" %>
<%@ taglib prefix="zm" uri="com.zimbra.zm" %>

<c:choose>
    <c:when test="${high}">
        <app:img altkey="ALT_HIGH_PRIORITY" src="startup/ImgPriorityHigh_list.png" />
    </c:when>
    <c:otherwise>
        <c:choose>
            <c:when test="${low}">
                <app:img altkey="ALT_LOW_PRIORITY" src="startup/ImgPriorityLow_list.png" />
            </c:when>
            <c:otherwise>
				<app:img altkey="ALT_NORMAL_PRIORITY" src="startup/ImgPriorityNormal_list.gif" />
			</c:otherwise>
        </c:choose>
    </c:otherwise>
</c:choose>
