/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
body {
    font-family: Myriad, "Lucida Grande", Helvetica, Arial, Verdana, Sans-serif;
    font-size: medium;
    -webkit-text-size-adjust: none;
    padding: 0px;
    margin: 0px;
}
body[orient="portrait"] {
    max-width: 320px;
}
body[orient="landscape"] {
    max-width: 480px;
}
body[orient="portrait"] div.row span.m, div.row span.m {
    max-width: 188px;
    min-width: 188px;
    width: 188px;
}
body[orient="landscape"] div.row span.m {
    max-width: 347px;
    min-width: 347px;
    width: 347px;
}

pre{ @WordWrapPRE@ }

a {
    color: #4D8DC3;
    text-decoration: none;
}
.container {
    background: white;
}
#appbar {
    background: #333333;
    height: 48px;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    min-width: 275px;
    color: white;
}
.label {
    color: #4d8dc3;
}
.list-row, .list-row-unread {
    border-bottom: 1px solid #DDDDDD;
    padding: 2px;
    background: white;
}
.list-row-unread {
    font-weight: bold;
    background: #efefef; /*#f9fcff;*/
}
.small-gray-text {
    color: #999999;
    font-size: small;
}
.list-row-unread .small-gray-text,.Email a {
    color: #777777;
}
.from-span a {
    color: black;
}
.zo_m_cv_sub {
    padding: 7px;
    padding-left: 22px;
    color: darkblue;
    background: #e8ebef;
}
.Stripes {
    background: #c5ccd4;
    margin: 0px;
    padding: 2px;
}
.left {
    float: left;
    padding-left: 4px;
}
.right {
    float: right;
    padding-right:4px;
}
#appbar {
    background: #333333;
    height: 48px;
    padding: 1px;
    margin: 0px;
    white-space: nowrap;
    min-width: 275px;
    color: white;
}

#appbar a span {
    padding: 2%;
    margin: 2px;
    position: relative;
    top: 22%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    display: inline-block;

}

#appbar a {
    height: 47px;
    text-align: center;
    font-size: small;
    vertical-align: bottom;
    -webkit-border-radius: 6px;
    display: inline-block;

}

#appbar a.appTab {
    background: #333333;
    color: #999999;

}

#appbar a.appTab-active {
    background: #444444;
    color: white;
    font-weight: bold;
}

#searchbar {
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin: 0px;
    background: #e7e7e7;
    border-bottom: 1px solid silver;
}
form {
    padding: 0px;
    margin: 0px;
}
.View {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    margin: 2px;
    border: 1px solid #a7b2bc;
    padding: 4px; /* font-size:medium;*/
	overflow: visible;
}
.Toolbar, .SubToolbar {
    background: #e8ebef;
    height: 23px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    white-space:nowrap;
}
/*#appbar a span.aptoday {
    display:inline !important;
    font-size:smaller;
    font-weight:bold;
    position:relative;
    top:11px;
    white-space:normal;
}
#appbar a span.apunread {
    display:inline !important;
    font-size:smaller;
    font-weight:bold;
    left:0;
    position:relative;
    top:18px;
    white-space:normal;
}*/
.Toolbar {
    background: #efefef;
}
.StatusInfo, .StatusWarning, .StatusCritical, .zo_noresults {
    padding: 3px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    font-size: small;
}
.zo_noresults {
    height: 200px;
    text-align: center;
}
.StatusInfo {
    background-color: lightgreen;
}
.StatusWarning {
    background-color: yellow;
}
.StatusCritical {
    background-color: red;
}
.searchInput {
    -webkit-appearance: searchfield;
    vertical-align: middle;
}
.cmp_container .table-cell, .cmp_appt_container .table-cell {
    text-align: left;
}
.zo_button, .zo_button_disabled {
    background: #58759d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 4px;
    margin: 0px;
    -webkit-margin: 0px;
    -webkit-padding: 4px;
    color: #ffffff;
    border: 1px groove #58759d;
    boder-collapse: collapse;
    text-shadow: rgba( 0, 0, 0, 0.6 ) 0px -1px 0;
    font-size: medium;
}
.zo_button_group {
    background: #58759d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px groove #58759d;
    boder-collapse: collapse;
    padding: 4px;
    margin:2px;
    font-size: medium;
}
input[type="button"], input[type="reset"] {
    -webkit-border-radius: 5px;
    -webkit-appearance: button;
    background: #58759d;
}
.searchButton, input[type="submit"], input.submit {
    background: #2e69e0;
    -webkit-border-radius: 5px;
    -webkit-appearance: button;
}

.cmp_container .table-cell, .cmp_appt_container .table-cell {
    border-bottom: 1px solid #DDDDDD;
    padding: 2px;
}
.Textarea#bodyField {
    width: 98%;
    height: 150px;
}
.cmp_appt_container .Textarea, .cmp_container .table-cell .Textarea {
    height: 17px;
    width: 90%;
}
.cmp_appt_container .table-cell .Textarea#start, .cmp_appt_container .table-cell .Textarea#end {
    width: 30%;
}
.cmp_appt_container .label, .cmp_container .label {
    width: 50px;
}
/*Auto Complete*/
.ZhAC {
    position: relative;
}
.ZhACB {
    font-weight: bold;
}
.ZhACCont {
    position: absolute;
    bottom: 0;
}
.ZhACCont .yui-ac-content {
    position: absolute;
    border: 1px solid #404040;
    background: #fff;
    overflow: hidden;
    z-index: 9050;
}
.ZhACCont .yui-ac-shadow {
    position: absolute;
    margin: .3em;
    background: #a0a0a0;
    z-index: 9010;
}
.ZhACCont ul {
    margin: 0;
    padding: 1px 0;
    list-style: none
}
.ZhACCont li {
    margin: 0;
    padding: 0 1px;
    cursor: default;
    white-space: nowrap;
}
.ZhACCont li.yui-ac-highlight {
@SelectedBg @
}
.ZhACCont li.yui-ac-prehighlight {
    background: #FFFFCC;
}
.ZhACCont table {
    font-size: small;
}
.ZhACTo {
    z-index: 9050;
}
.ZhACCc {
    z-index: 9040;
}
.ZhACBCc {
    z-index: 9030;
}
.prev_button, .mid_button, .next_button {
    border: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}
.next_button {
    border-left: 1px solid #335787;
}
select {
    height: 27px;
    vertical-align: 2px;
}
.zo_select_button {
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: 1px;
    height: 27px;
    background: #58759d;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px groove #58759d;
    text-shadow: rgba( 0, 0, 0, 0.6 ) 0px -1px 0;
    font-size: medium;
    -webkit-appearance: button;
}
.zo_button_disabled {
    color: silver;
}
.cont_sum_table {
    border-bottom: 1px solid #DDDDDD;
}
.cont_view .table-cell {
    text-align: left;
}
#userinfo {
    color: #999999;
    padding: 4px;
    font-size: small;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
}
#userinfo .logout-span {
    float: left;
}
#copyright_notice {
    text-align: center;
    padding: 5px;
}
.table {
    display: table;
    width: 100%;
    height: 30px;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.Folders {
    padding: 5px;
}
.row {
    display: block;
    min-height: 50px;
}
.chk {
    vertical-align: middle;
    height: 15px;
    width: 15px;
    padding: 0px;
    margin: 0px;
}
div.row span.cell {
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    border-collapse: collapse;
    text-align: left;
}
div.row span.l, div.row span.m {
    vertical-align: top;
}
.from-span, .sub-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
div.row span.f {
    max-width: 50px;
    width: 40px;
    white-space: nowrap;
    padding-left: 10px;
    min-width:40px;
}
div.row span.l {
    min-width: 60px;
    text-align: right;
}
.msg-list-in-conv {

}
.msg-list-in-conv .cell {
    padding: 2px !important;
}
.SmlIcnHldr {
    width: 18px;
    display: inline-block;
}

.Tagblue:before {
    /*content: "\2617";*/
    content:"\2587";
    color: dodgerblue;
    font-size:small;
}

.Tagblue {
    background: none;
    width: 20px;
    height: 25px;
    display: inline-block;
}

.Tagcyan:before {
    content:"\2587";
    color: cyan;
    font-size:small;
}

.Tag:before {
    content:"\2587";
    color: orange;
    font-size:small;
}

.Tagcyan {
    background: none;
    width: 20px;
    display: inline-block;
    height: 25px;
}

.Tagorange:before {
    content:"\2587";
    color: orange;
    font-size:small;
}



.Taggreen:before {
    content:"\2587";
    color: green;
    font-size:small;
}



.Tagpurple:before {
    content:"\2587";
    color: purple;
    font-size:small;

}



.Tagred:before {
    content:"\2587";
    color: red;
    font-size:small;
}



.Tagyellow:before {
    content:"\2587";
    color: yellow;
    font-size:small;
}



.TagStack:before {
    /*content: "\2750";*/
    content:"\2587+";
    color: dodgerblue;
    font-size:small;
}

.Flag:before {
	color:red;
	content:"|\25B6";
	font-size:small;
	letter-spacing:-4px;
    white-space:nowrap;
    font-weight: normal;
}

.zo_m_cv_sub:before {
    content: "\25BC";
	color:#777777;
}

.Msg:after {
    content: "\25CF";
    color: steelblue;
    font-size: large;
}

.MsgGray:after {
/*content:"\25CB";*/
    font-size: large;
}

.Conv:after {
    content: "\25B6";
	color:#777777;
}

.Msg {
    background: none; /*url( "@AppContextPath@/img/zimbra/ImgEnvelope.png?v=@jsVersion@" ) 90% 49% no-repeat;*/
}

.MsgGray {
    background: none; /*url( "@AppContextPath@/img/zimbra/ImgEnvelopeGray.png?v=@jsVersion@" ) 90% 49% no-repeat;*/

}

.Conv {
    background: none; /*url( "@AppContextPath@/img/zimbra/ImgConversationView.png?v=@jsVersion@" ) 90% 50% no-repeat;*/
}

.Contact {
    background: none; /*url( "@AppContextPath@/img/zimbra/ImgContact.png?v=@jsVersion@" ) 90% 50% no-repeat;*/
}

.Person48 {
    background: none; /*url( "@AppContextPath@/img/large/ImgPerson_48.png?v=@jsVersion@" ) 90% 50% no-repeat;*/
    height: 50px;
    width: 50px;
    padding: 2px;
}
