/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
body {
    font-family: Helvetica, Arial, Verdana, Sans-serif;
    font-size: medium;
    -webkit-text-size-adjust: none;
    padding: 0px;
    margin: 0px;
}
body *{
    font-family: Helvetica, Arial, Verdana, Sans-serif;
}

pre{ @WordWrapPRE@ }

a {
    color: #0066cc;
    text-decoration: none;
}
.container {
    background: white;
}
#appbar {
    background: #88929f;
    height: 50px;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    min-width: 275px;
    color: white;
    border-bottom:0px solid gray;
}
.label {
    color: gray;
}
.list-row, .list-row-unread {
    border-bottom: 1px solid #DDDDDD;
    padding: 2px;
    background: #fafafa;
}
.list-row-unread {
    font-weight: bold;
    background: white; /*#f9fcff;*/
}
.small-gray-text {
    color: #888888;
    font-size: small;
}
.list-row-unread .small-gray-text,.Email a {
    color: #666666;
    font-weight:normal;
}
.list-row-unread .l{
	font-weight: normal;

}

.from-span a {
    color: black;
}
.ConvOpen{
    background-position: 0 -326px !important;
}
.zo_m_cv_sub {
    padding: 7px;
    padding-left: 22px;
    background: #e8ebef;
    color: darkblue;
}
.Stripes {
    background: #c5ccd4;
    margin: 0px;
    padding: 2px;
    min-height:200px;
}
.left {
    float: left;
    padding-left: 4px;
}
.right {
    float: right;
    padding-right:4px;
}
.aleft {
    text-align:left !important;
    padding-left: 5px;
}
.aright {
    text-align:right !important;
    padding-right:5px;
}
#appbar a span {
    padding: 0px;
    margin: 0px;
    display: none;
}
#appbar a {
    width: 55px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: small;
    color: white;
    vertical-align: bottom;
    display: inline-block;
}
#appbar a span.aptoday {
    color:black;
    display:inline !important;
    font-size:smaller;
    font-weight:bold;
}
#appbar a span.aptoday div {
    margin:0px;
    padding:1px;
    text-align:center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#appbar a span.aptoday div._day {
    color: white;
    font-weight:normal;
    padding-top:10px;
    font-size: 10px;
}
#appbar a span.aptoday div._date {
    font-size:medium;
}
#appbar a span.aptoday div._month {
    display:none;
}
#appbar a span.apunread {
    text-align:center;
    color:white;
    display:inline !important;
    font-size:smaller;
    font-weight:bold;
    left:0;
    position:relative;
    top:18px;
    white-space:normal;
    width:55px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#appbar a.appTab-active{
    background-color:#eeeeee !important;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    border-bottom:1px solid #EEEEEE;
}
#appbar a.appTab,#appbar a.appTab-active{
    background: url( "@AppContextPath@/img/mobile/iphone-ext/AppsNav.png?v=@jsVersion@" ) top left no-repeat;
}
a#mail,a.mail {
    background-position: 50% 0 !important;
}
a#mail-active,a.mail-active {
    background-position: 50% 0 !important;
}
a#contact,a.contact {
    background-position: 50% -53px !important;
}
a#contact-active,a.contact-active {
    background-position: 50% -53px !important;
}
a#cal,a.cal {
    background-position: 50% -107px !important;
}
a#cal-active,a.cal-active {
    background-position: 50% -107px !important;
}
a#folders,a.folders {
    background-position: 50% -160px !important;
}
a#folders-active,a.folders-active {
    background-position: 50% -160px !important;
}
a#search,a.search {
    background-position: 50% -216px !important;
}
a#search-active,a.search-active {
    background-position: 50% -216px !important;
}
#searchbar,#savesearchbar {
    text-align: center;
    vertical-align: middle;
    padding:0px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
    background: #eeeeee;
    border-bottom: 1px solid silver;
}
form {
    padding: 0px;
    margin: 0px;
}
#nsrchfrm, #nfldrfrm, #ntagfrm{
    margin:2px;
    width:98%;
}
.View {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    margin: 2px;
    border: 1px solid #a7b2bc;
    padding: 4px; /* font-size:medium;*/
	overflow: visible;
}
.Toolbar, .SubToolbar {
    background: #eeeeee;
    border-bottom:1px solid #E8E8E8;
    height: 40px !important;
    text-align: center;
    white-space:nowrap;
}
.Toolbar {
    background: #d3d2d7;
    border:0px;
    background: #efefef url( "@AppContextPath@/img/mobile/iphone/iPhoneToolbar1.png?v=@jsVersion@" ) bottom repeat-x;
}
.StatusInfo, .StatusWarning, .StatusCritical, .zo_noresults {
    padding: 10px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    font-size: small;
}
.zo_noresults {
    height: 200px;
    text-align: center;
}
.StatusInfo {
    background-color: lightgreen;
}
.StatusWarning {
    background-color: yellow;
}
.StatusCritical {
    background-color: red;
}
.searchInput {
    height:20px;
    margin:4px;
    vertical-align:middle;
    min-width:200px;
    width:96%;
    max-width:300px;
    font-size:medium;
}
.cmp_container .table-cell, .cmp_appt_container .table-cell {
    text-align: left;
}
.zo_button, .zo_button_disabled {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    margin: 0px;
    color: #ffffff;
    border: 1px groove #58759d;
    boder-collapse: collapse;
    text-shadow: rgba( 0, 0, 0, 0.6 ) 0px -1px 0;
    font-size: medium;
}
.zo_button_group {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px groove #58759d;
    boder-collapse: collapse;
    padding: 5px;
    margin:2px;
    font-size: medium;
}
input[type="button"], input[type="reset"] {
    -webkit-border-radius: 5px;
    -webkit-appearance: button;
}
.searchButton, input[type="submit"], input.submit {
     background: #2e69e0 url( "@AppContextPath@/img/mobile/iphone/iPhoneGoButton1.png?v=@jsVersion@" ) 50% 50% repeat-x;
    -webkit-border-radius: 5px;
    -webkit-appearance: button;
}
#msgbar{
    opacity: 0.9;
}
#msgDiv,#msgbar {
    -webkit-transition: all 500ms linear;
    position: absolute;
    left: 0;
    top: 50;
    width: 100%;
    z-index:800 !important;

}
.hidden {
    opacity: 0.0;
    height: 0px;
    visibility: hidden;
}

.shown {
    opacity: 0.9;
    height: 0px;
    visibility:visible;
}
.loadingIcon{
    padding:10px;
    background:#ffffd0 url("@AppContextPath@/img/mobile/iphone/loading.gif?v=@jsVersion@") 50% 50% no-repeat !important;
    -webkit-border-radius: 5px;
}
.LoadingDiv{
    background-color:#ffffd0;
    padding:10px !important;
}
.Reply {
    background-position: 0 -20px !important;
}
.ReplyAll{
    background-position: 0 -236px !important;
}
.Forward{
    background-position: 0 -254px !important;
}
.Check{
    background-position: 0 -272px !important;
}
.Question{
    background-position: 0 -2px !important;
}
.Cancel{
    background-position: 0 -56px !important;
}
.Msg {
    background-position: 0 -308px !important;
}
.MsgGray {
    background-position: 0 -200px !important;
}
.Conv {
    background-position: 0 -326px !important;
}
.Contact {
    background-position: 0 -218px !important;
}
.Person48 {
    background: url( "@AppContextPath@/img/large/ImgPerson_48.png?v=@jsVersion@" ) 90% 50% no-repeat;
    height: 50px;
    width: 50px;
    padding: 2px;
}
.ContactGroup {
    background-position: 0 -380px !important;
}
.Attachment {
    background-position: 0 -362px !important;
}
.cmp_container .table-cell, .cmp_appt_container .table-cell {
    border-bottom: 1px solid #DDDDDD;
    padding: 2px;
}
.Textarea#bodyField {                
    width: 98%;
    min-height: 150px;
}
.cmp_appt_container .Textarea, .cmp_container .table-cell .Textarea {
    height: 17px;
    width: 90%;
}
.moquery .Textarea,.moquery .sq_folder,.moquery .sq_tag,.moquery .st{
    width:92%;
}
.moquery .sq_size_comp,.moquery .sq_size_units, .moquery .sq_size{
    width:29%;
}
.moquery .table-cell{
    padding: 4px 2px;
    border-bottom: 1px solid #EEEEEE;
}
.cmp_appt_container .table-cell .Textarea#start, .cmp_appt_container .table-cell .Textarea#end {
    width: 30%;
}
.cmp_appt_container .label, .cmp_container .label,.moquery .label{
    width: 50px;
}
/*Auto Complete*/
.ZhAC {
    position: relative;
}
.ZhACB {
    font-weight: bold;
}
.ZhACCont {
    position: absolute;
    bottom: 0;
}
.ZhACCont .yui-ac-content {
    position: absolute;
    border: 1px solid #404040;
    background: #fff;
    overflow: hidden;
    z-index: 9050;
}
.ZhACCont .yui-ac-shadow {
    position: absolute;
    margin: .3em;
    background: #a0a0a0;
    z-index: 9010;
}
.ZhACCont ul {
    margin: 0;
    padding: 1px 0;
    list-style: none
}
.ZhACCont li {
    margin: 0;
    padding: 0 1px;
    cursor: default;
    white-space: nowrap;
}
.ZhACCont li.yui-ac-highlight {
@SelectedBg@
}
.ZhACCont li.yui-ac-prehighlight {
    background: #FFFFCC;
}
.ZhACCont table {
    font-size: small;
}
.ZhACTo {
    z-index: 9050;
}
.ZhACCc {
    z-index: 9040;
}
.ZhACBCc {
    z-index: 9030;
}
.prev_button, .mid_button, .next_button {
    border: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-align: center;
    padding: 2px 6px 2px 6px;
    vertical-align:top !important;
    background: transparent !important;    
}
.next_button {
    border-left: 1px solid #335787;
}
select {
    height: 28px;
    vertical-align: middle !important;
    padding: 0 5px;
}
.zo_select_button,.zo_button,.zo_button_disabled, .zo_button_group, input[type="button"], input[type="reset"],.searchButton {
    background: #58759d url( "@AppContextPath@/img/mobile/iphone/iPhoneButton2.png?v=@jsVersion@" ) 50% 50% repeat-x;
    vertical-align:middle !important;
    text-shadow: rgba( 0, 0, 0, 0.6 ) 0px -1px 0;
   
}
.zo_select_button {
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: 0px;
    height: 30px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px groove #58759d;
    text-shadow: rgba( 0, 0, 0, 0.6 ) 0px -1px 0;
    font-size: medium;
    -webkit-appearance: button;
}
.zo_button_disabled {
    color: silver;
}
.cont_sum_table {
    border-bottom: 1px solid #DDDDDD;
}
.cont_view .table-cell {
    text-align: left;
}
#userinfo {
    color: #999999;
    padding: 4px;
    font-size: small;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
}
#userinfo .logout-span {
    float: left;
}
#copyright_notice {
    text-align: center;
    padding: 5px;
}
.table {
    display: table;
    width: 100%;
    text-align:center;
}
.table-row {
    display: table-row;
    text-align:center;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.Folders {
    padding: 5px;
    height: 28px;
}
.row {
    display: block;
    min-height: 50px;
}
.chk {
    vertical-align: middle;
    height: 15px;
    width: 15px;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
div.row span.cell {
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    border-collapse: collapse;
    text-align: left;
}
div.row span.l, div.row span.m {
    vertical-align: top;
}
.from-span, .sub-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
div.row span.f {
    max-width: 40px;
    width: 40px;
    white-space: nowrap;
    padding-left: 10px;
    min-width:40px;
}
div.row span.m {
    width:100%;
}
div.row span.l {
    width: 60px;
    min-width: 60px;
    text-align: right;
}
.msg-list-in-conv {
    padding: 2%;
}
.msg-list-in-conv .cell {
    padding: 2px !important;
}

/* TODO: Do we need these classes any more?
.SmlIcnHldr {
    width: 18px;
    height: 18px;
    max-height: 18px;
    display: inline-block;
    background: url("/img/mobile/iphone-ext/common.gif?v=@jsVersion@") no-repeat top left;
}
.SmlDocIcnHldr {
    width: 18px;
    height: 18px;
    max-height: 18px;
    display: inline-block;
    vertical-align: -22%;
    background: url("/img/doctypes.gif?v=@jsVersion@") no-repeat top left;
}
*/
 .ZmThumbnailItem{
    float:left;
     width:43%;
     margin:2%;
     padding:1%;
     overflow:hidden;
     text-overflow:ellipsis;
     border:1px dotted #eeeeee;
     -webkit-border-radius:5px;
     -moz-border-radius: 5px;
 }
.ZmThumbnailIcon{
    border-bottom:1px solid #eeeeee;
    padding-bottom:8px;    
}
.ZmThumbnailName{
    padding-top:8px; 
}
.zo_button1{
        padding:5px;
        border:1px outset silver;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
}
/* TODO: Is this still used? And have we lost any formatting going to ImgEdit class?
.Edit{
    background: #eeeeee url("@AppContextPath@/img/zimbra/ImgEdit.png?v=@jsVersion@") 50% 50% no-repeat;
    padding: 3px;
    border:1px outset #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
*/
.delete_button{
    background: #cc0000 url("@AppContextPath@/img/mobile/iphone/iPhoneDeleteButton1.png?v=@jsVersion@") repeat scroll 50% 50% !important;
}
