/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2006, 2007, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2006, 2007, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */

.LoginScreen P, .LoginScreen TH, .LoginScreen TD, 
.LoginScreen DIV, .LoginScreen SPAN, .LoginScreen SELECT, 
.LoginScreen INPUT, .LoginScreen TEXTAREA, .LoginScreen BUTTON, 
.LoginScreen A {
	@FontFamily-default@
}

HTML {
	@FullSize@
}

BODY {
	@ChromeBg@
	@FullSize@
	margin:0px;
}

FORM {
	margin:0px;
	padding:0px;
}


/*
 *	Container for the splash screen
 */
.ZSplashScreen {
	@ChromeBg@
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
}


/*
 *	New, unified login/splash/about screen stuff 
 *
 */

/* Outer panel for the entire login/splash dialog */
#ZLoginPanel {
	position:relative;
	width:500px;
	overflow:visible;
	@LightWindowOuterBorder@
}


/*
 * major login zones
 */
.LoginScreen FORM 	{ text-align:center; 	}  /* fixes IE centering of form */
.form {
	border-collapse:collapse;
	color:@LoginLabelColor@;
	margin:0px auto;
	text-align:left;
}
.form TD:first-child LABEL 			{ margin-right:20px; 						}
.form TD 							{ padding-bottom:10px; 						}
.form INPUT[type='text'], 
.form INPUT[type='password'] 		{ 
	border:1px solid @AppC@;
	padding:0px;
	width:235px;
#IFDEF MSIE_LOWER_THAN_9
	height:18px;
#ELSE
	height:20px;
#ENDIF 
}
.form INPUT[type='text']:focus, 
.form INPUT[type='password']:focus 	{ border:1px solid @SelC@; 					}
.form SELECT 						{ height:20px; width:165px; 				}
.form .submitTD 					{ text-align:left; 							}
.form .ZLoginButton					{ @LoginButton@ float:right; font-size:1em;}
.form HR { 
	border-color:transparent transparent @LoginLabelColor@; 
	height:0px;
}
.LoginScreen .positioning {
	position:relative;
	z-index:20;
}
.LoginScreen #ZLoginWhatsThisAnchor {
	color:@LoginLabelColor@;
	font-size:.9em;
	margin-left:5px;
}
.LoginScreen #ZLoginWhatsThis {
	left:0px;
	margin-left:-10em;
	position:absolute;
	top:25px;
	width:40em;
	z-index:30; 
}
.LoginScreen .ZLoginInfoMessage {
	background-color:@AppC@;	
	border:1px solid @darken(AltC,25)@;
	color:@TxtC@;
	padding:3px 7px;
	text-align:left;
	@cssShadow@:0px 0px 2px black;
}


/*DWT Buttons*/
.DwtButton					{	@Button@ @ButtonBorder-normal@ 		}
.DwtButton-hover			{	@Button@ @ButtonBorder-hover@ 		}
.DwtButton-active			{	@Button@ @ButtonBorder-active@ 		}	
.DwtButton-selected			{	@Button@ @ButtonBorder-selected@ 	}	
.DwtButton-disabled			{	@Button@ @ButtonBorder-disabled@ 	}	
.DwtButton-active			{	@Button@ @ButtonBorder-default@ 	}	
.DwtButton-focused			{	@Button@ @ButtonBorder-focused@ 	}	
		
.DwtButton .Text			{	@ButtonText@ @ButtonText-normal@ 	}
.DwtButton-hover .Text		{	@ButtonText@ @ButtonText-hover@ 	}
.DwtButton-active .Text		{	@ButtonText@ @ButtonText-active@ 	}	
.DwtButton-selected .Text	{	@ButtonText@ @ButtonText-active@ 	}	
.DwtButton-disabled .Text	{	@ButtonText@ @ButtonText-disabled@ 	}	
.DwtButton-active .Text		{	@ButtonText@ @ButtonText-default@ 	}	
.DwtButton-focused .Text	{	@ButtonText@ @ButtonText-focused@ 	}

/*Launch Button*/
.LaunchButton {
	padding:10px;
	text-align:center;
}
.LaunchButton INPUT {
	@FontSize-bigger@
	background-color:#DCF9FE;
	border:1px solid #6CF;
	color:black;
	cursor:pointer;
	display:inline-block;
	height:35px;
	text-align:center;
	width:250px;
	@cssShadow@:0px 0px 3px black;
	@grad(#DCF9FE,#9FF0FF,linear-vertical)@
	@roundCorners(26px)@
}
.LaunchButton INPUT:hover {
	@cssShadow@:0px 0px 1px black;
	@grad(#9FF0FF,#DCF9FE,linear-vertical)@	
}
.spacer {
	font-size:1.2em;
	line-height:1.3em;
	padding:5px;
}


/* Mobile */
.LoginScreen .center-small {
	background-color:@darken(AltC,10)@;
	margin:10px auto;
	overflow:visible;
	padding-top:5px; 
	width:250px;
	@grad(LoginCenterTop,LoginCenterBottom,linear-vertical)@
}

/* limiting the error message on mobile screen to 40px (approx 3 lines)*/
.LoginScreen .center-small #ZLoginErrorPanel {
	max-height:40px;
	overflow:auto;
}

.center-small H1 {
	margin:10px 20px 20px;
}
.center-small .decor1 {
	@Decor1-mobile@
}
.center-small .form {
	border-collapse:collapse;
	color:@LoginLabelColor@;
	margin:0px 10px;
	text-align:left;
}
.center-small .form td:first-child LABEL {
	margin-right:5px;
}
.center-small .form INPUT[type='text'], 
.center-small .form INPUT[type='password'] {
	border:1px solid @AltC@;
	width:155px;
}
.center-small .form SELECT {
	width:140px;
}
.center-small #ZloginWhatsThisAnchor,
.center-small .offline {
	display:none;
}
.Footer-small {
	position:relative;
	text-align:center;
	width:100%;
}
.Footer-small .copyright {
	font-size:9px !important;
}
.Footer-small #ZLoginNotice {
	display:none;
}
