/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */

/****
 *	PURPOSE:  This file is loaded in for the message body (only) of each message displayed
 *				in the 'Message Preview Pane'.  It should be minimal in size.
 ****/

.MsgHeaderTable .Object {
	@ActiveCursor@
    @Anchor@
    white-space: nowrap;
}

.MsgHeaderTable .Object-hover {
    @ActiveCursor@
    @Anchor-hover@
    white-space: nowrap;
}

/* entire message body */
.MsgBody {
	@MailMsgBody@

    /* restrict selection to the message element - only supported by Gecko
       and Trident as of 2013 */
    -moz-user-select: element;
    -ms-user-select: element;
}

/* text message font (eg: not HTML) */
.MsgBody-text {
	@MailMsgBodyText@
	@MailMsgBodyText-fixed@
    word-wrap: break-word;

}

.MsgBody-text, .MsgBody-html {
	padding: 10px;
}

/* Override global rule in common.css (for display that does not use iframe).
   A better way would be to simply ignore the more global rule so that the
   browser default is used. But there's no way to do that. The CSS3 ":not"
   pseudo-class almost helps, but it only takes a simple selector - you can't
   say "any TD that's not a child of a DIV with class 'MsgBody'".
.MsgBody P, .MsgBody TH, .MsgBody TD, .MsgBody DIV, .MsgBody SELECT,
.MsgBody INPUT[type=text], .MsgBody INPUT[type=password], .MsgBody INPUT[type=file],
.MsgBody TEXTAREA, .MsgBody BUTTON {
	@FontSize-html@
}*/

/* For conversation view applying fontsize for all child and grandchildren of MsgBody div */
div.MsgBody, div.MsgBody * {
    @FontSize-html@
}

/* For message view having iframe body class as MsgBody */
body.MsgBody {
    @FontSize-html@
}

.MsgBody .SignatureText { color: gray; }
.MsgBody .QuotedText0 { color: purple; }
.MsgBody .QuotedText1 { color: green; }
.MsgBody .QuotedText2 { color: red; }

.user_font_size_small {
	font-size:@UserFontSize-small@
}
.user_font_size_normal {
	font-size:@UserFontSize-normal@
}
.user_font_size_large {
	font-size:@UserFontSize-large@
}
.user_font_size_larger {
	font-size:@UserFontSize-larger@
}

.MsgBody .Object {
	@Anchor@
}

.MsgBody .Object-hover {
	@Anchor-hover@
}

.MsgBody .Object-active {
	@Anchor-active@
}


.MsgBody .FakeAnchor, .MsgBody a:link, .MsgBody a:visited {
	@Anchor@
}

.MsgBody a:hover {
	@Anchor-hover@
}

.MsgBody a:active {
	@Anchor-active@
}

/* are these used? */
.MsgBody .POObject {color: blue;}
.MsgBody .POObjectApproved {color: green;}
.MsgBody .POObjectRejected {color: red;}

.MsgBody .zimbraHide {
	display: none;
}

.MsgBody-html pre, .MsgBody-html pre * {
	@WordWrapPRE@
}

.MsgBody-html tt, .MsgBody-html tt * {
	@FontFamily-fixed@
	@WordWrapPRE@
}

/* Search Highlighter Zimlet Styles */
.MsgBody .ZmSearchResult {   
    background-color:@SearchResultColor@;
}
