/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
.ZmSlideEditView {
    position: absolute;
    font-size: 16px;
}

.slideparent {
	border: 3px solid #999FA8;    
	padding:0px;
	margin: 0px;
    background-color: white;
}

.previewslideparent {
	border: 1px solid #999FA8;    
	padding:0px;
	margin: 10px;
    background-color: white;
	position: relative;
}

.slide {
	width: 610px;
	height: 450px;
    position: absolute;
    font-size: 16px;
	overflow: hidden;
	padding:0px;
	margin: 0px;
}

.slidemaster {
	    position: absolute;
	    font-size: 16px;
		overflow: hidden;
	/*background: url(@AppContextPath@/img/wood-bg.png?v=@jsVersion@);*/		
}

.preview {
 /*   border: 1px solid #999FA8;*/
    cursor: pointer;
	float: left;
    font-size: 6.3px;
	margin: 5px 10px;
	position: relative;
	overflow: hidden;
	padding:0px;
	margin: 0px;	
}

.ZmSlideEditViewDummy {
    border: 3px solid #999FA8;
    height: 500px;
    width: 800px;
    position: absolute;
    background-color: 999FA8;
    font-size: 16px;
}

.SelectionCornerBox {
    width: 8px;
    height: 8px;
    position: absolute;
    left: -10px;
    top: -10px;
    background-color: #FFFFFF;
    border: 1px solid #A6B9CC;
    padding:0px;
    margin:0px;
    font-size:0pt;
}

.SelectionSash_Top {
    border-top: 1px dashed #4D7399;
    padding: 4px 0px 0px 0px;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size:0pt;
}

.SelectionSash_Bottom {
    border-bottom: 1px dashed #4D7399;
    padding: 0px 0px 4px 0px;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size:0pt;
}

.SelectionSash_Left {
    border-left: 1px dashed #4D7399;
    padding: 0px 0px 0px 4px;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size:0pt;
}

.SelectionSash_Right {
    border-right: 1px dashed #4D7399;
    padding: 0px 4px 0px 0px;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size:0pt;
}

.SlideComponentEditor {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background:none transparent;
    allowTransparency: -1;
}

.ZmSlideEditView H2 {
    padding:0px;
    margin:0px;
}

.slidecontainer {
	background-color: #B8C0CA;
    width: 80%;
    height: 100%;
    left: 20%;
    position: absolute;
}

.previewcontainer {
    width: 20%;
    height: 100%;
    /*background-color: #B8C0CA;*/
	background-color: #333333;
    position: absolute;
    left:0%;
    border-right: 1px solid #999FA8;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: scroll;
}

.DragProxy {
	border: 2px solid #000000;
	display: inline;
}

.SlideToolbar  table{
	font-size: 10px;
	font-family: verdana;
	font-weight: bold;
	cursor: pointer;
}

.SlideEditorToolbar {
	padding: 4px;
}
.SlideEditorToolbar {
	background-color: #999FA8;
	padding: 3px;
}

.previewcontainer .previewslideparent .preview .slide_object_graph {
    border: 1px dashed #999FA8;
}

.previewcontainer .previewslideparent .preview .slide_object_graph embed{
    display: none;
}
