/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2008, 2009, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2008, 2009, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
body {
    padding:0px;
    margin:0px;
    background:none transparent;
    font-size: 16px;
    @FontFamily-default@
}

h2 {
    font-size: 200%;
    font-weight: bold;
    padding:0px;
    margin:0px;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    padding:0px;
    margin:0px;
}



.slide {
    font-size: 16px;
	overflow: hidden;
}

.endslide {
    font-size: 16px;
	background-color: #000000;
	color: #ffffff;
}

.splashscreen {
    font-size: 16px;
	background-color: #000000;
	color: #ffffff;
}

.slidemaster, .masterslide {
    background-color: white;
}

.slide ul, .slide ol, body ul, body ol {
    margin:0pt 0pt 0pt 1.8em;
    padding:0px;
}

.slide_object_title, .slide_object_title * {
	font-family: arial, helvetica, verdana, sans-serif;
    font-size: 200%;
}

.slide_object_title {
    font-weight: bold;    
    padding: 0px;
    margin: 0px;
    color: #333333;    
}

.slide_object_notes, .slide_object_notes * {
	font-family: arial, helvetica, verdana, sans-serif;
    font-size: 145%;
}

.slide_object_notes {
    font-weight: bold;    
	padding: 0px;
	margin: 0px;
	color: #333333;
}

.slideShowNavToolbar {
    z-index:9000;
    position:absolute;
    left:0;
    bottom:10px;
    padding-left:10px;
}

.navBtns, .navImg {
    cursor: pointer;
}