/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2005, 2006, 2007, 2009, 2010, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2005, 2006, 2007, 2009, 2010, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
.TextSpellChecker { /* try to be as close as possible to the textarea */
	position: relative;
	@TextArea@
	@TextArea-normal@
}

.SpellCheckInputField {
	position: absolute;
	@InputField@
	@FontFamily-fixed@
	padding: 1px;
}

.SpellCheckModeDiv {
	@WarningContainer@
	@WarningText@
	@BottomSeparator@
	@PanelPadding@
}

.SpellCheckLink {
	@Anchor-hover@
	cursor: pointer; 
}

.SpellCheckModeDiv a:link, 
.SpellCheckModeDiv a:visited { 
	@Anchor@ 
}

.TextSpellChecker, 
.TextSpellChecker * { 
	@FontFamily-fixed@
}

.ZM-SPELLCHECK-MISSPELLED { 
	border-bottom: 1px dashed; 
	@WarningContainer@
	cursor: help; 
}
/* USE??? */
.ZM-SPELLCHECK-MISSPELLED2 { 
	border-bottom: 1px dashed; 
	@CriticalContainer@
	z-index: 10; 
	cursor: help; 
}
.ZM-SPELLCHECK-FIXED { 
	border-bottom: 1px dashed; 
	@InfoContainer@
}
/* USE??? */
.ZM-SPELLCHECK-INPROGRESS { 
	background: #caf; 
	cursor: help; 
}
