/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2010, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2010, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
/*------------------------------------------------------------------------------
  RESET
------------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption,th,td {
	text-align: left;
	font-weight: normal;
}
table,td,th {
	vertical-align: middle;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}
blockquote,q {
	quotes: "" "";
}
a img {
	border: none;
}

/*------------------------------------------------------------------------------
  GRID
------------------------------------------------------------------------------*/
.container {
	width:960px;
	margin:0 auto;
}
.content-container {
	width:655px;
	margin:0 auto;
}
.content-wrap {
	width:935px;
	margin:0 auto;
}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:24px;}
.last, div.last {margin-right:0;}
.span-1 {width:17px;}
.span-2 {width:58px;}
.span-3 {width:99px;}
.span-4 {width:140px;}
.span-5 {width:181px;}
.span-6 {width:222px;}
.span-7 {width:263px;}
.span-8 {width:304px;}
.span-9 {width:345px;}
.span-10 {width:386px;}
.span-11 {width:427px;}
.span-12 {width:468px;}
.span-13 {width:509px;}
.span-14 {width:550px;}
.span-15 {width:591px;}
.span-16 {width:632px;}
.span-17 {width:673px;}
.span-18 {width:714px;}
.span-19 {width:755px;}
.span-20 {width:796px;}
.span-21 {width:837px;}
.span-22 {width:878px;}
.span-23 {width:919px;}
.span-24, div.span-24 {width:960px;margin-right:0;}
.append-1 {padding-right:41px;}
.append-2 {padding-right:82px;}
.append-3 {padding-right:123px;}
.append-4 {padding-right:164px;}
.append-5 {padding-right:205px;}
.append-6 {padding-right:246px;}
.append-7 {padding-right:287px;}
.append-8 {padding-right:328px;}
.append-9 {padding-right:369px;}
.append-10 {padding-right:410px;}
.append-11 {padding-right:451px;}
.append-12 {padding-right:492px;}
.append-13 {padding-right:533px;}
.append-14 {padding-right:574px;}
.append-15 {padding-right:615px;}
.append-16 {padding-right:656px;}
.append-17 {padding-right:697px;}
.append-18 {padding-right:738px;}
.append-19 {padding-right:779px;}
.append-20 {padding-right:820px;}
.append-21 {padding-right:861px;}
.append-22 {padding-right:902px;}
.append-23 {padding-right:943px;}
.prepend-1 {padding-left:41px;}
.prepend-2 {padding-left:82px;}
.prepend-3 {padding-left:123px;}
.prepend-4 {padding-left:164px;}
.prepend-5 {padding-left:205px;}
.prepend-6 {padding-left:246px;}
.prepend-7 {padding-left:287px;}
.prepend-8 {padding-left:328px;}
.prepend-9 {padding-left:369px;}
.prepend-10 {padding-left:410px;}
.prepend-11 {padding-left:451px;}
.prepend-12 {padding-left:492px;}
.prepend-13 {padding-left:533px;}
.prepend-14 {padding-left:574px;}
.prepend-15 {padding-left:615px;}
.prepend-16 {padding-left:656px;}
.prepend-17 {padding-left:697px;}
.prepend-18 {padding-left:738px;}
.prepend-19 {padding-left:779px;}
.prepend-20 {padding-left:820px;}
.prepend-21 {padding-left:861px;}
.prepend-22 {padding-left:902px;}
.prepend-23 {padding-left:943px;}

.clearfix:after, .container:after, .content-wrap:after, .content-container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.clearfix, .container, .content-wrap, .content-container {
	display: block;
}
.clear {
	clear: both;
}

/*------------------------------------------------------------------------------
  HTML ELEMENTS
------------------------------------------------------------------------------*/
html {
	overflow-y: scroll;
	background: #111111;
}
body {
	background: #111111;
	font-family: Verdana, Arial, sans-serif;
	color: #333333;
	font-size: 12px;
	display: table;
	width: 100%;
}
a,a:visited {
	color: #1283bf;
	text-decoration: none;
}
a:hover,a:active {
	color: #0B5C88;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Verdana, sans-serif;
}
h1 {
	font-size: 29px;
	margin-bottom: 0;
}
h1.margin {
	font-size: 29px;
	margin-bottom: 16px;
}
h1.pad {
	margin-top: 30px;
	font-size: 29px;
	margin-bottom: 17px;
}
h2 {
	font-size: 19px;
	font-weight: bold;
	color: #3b6173;
	margin-bottom: 4px;
}
h2.border {
	background: url(../_media/dotted_border.png) 0 50% repeat-x;
	margin-bottom: 20px;
}
h2.border span {
	background: #FFF;
	padding: 0 14px 0 0;
}
h2.border i {
	font-style: italic;
	font-weight: normal;
	color: #666666;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 6px;
}
.profile h3 {
	border: none;
}
h4 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 6px;
}
p {
	margin-bottom: 12px;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}


/*------------------------------------------------------------------------------
  STRUCTURE
------------------------------------------------------------------------------*/
.super-nav {
	background: #3d3d3d url(./images/super_nav_bg.png) 0 0 repeat-x;
	border-bottom: 1px solid #FFF;
}
.super-nav ul {
	margin-bottom: 1px;
}
.super-nav li {
	background: url(./images/super_nav_separator.png) 100% 60% no-repeat;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #e1e1e1;
	display: inline;
	line-height: 23px;
	padding-right: 8px;
}
.super-nav li.last {
	background: none;
	padding-right: 0;
}
.super-nav li a {
	color: #e1e1e1;
	text-decoration: none;
	padding-right: 4px;
}
.super-nav li a:hover {
	text-decoration: none;
	color: #FFF;
}
.user-message {
	font-family: Arial, Verdana, sans-serif;
	color: #363636;
	padding: 11px 0;
	font-size: 12px;
	margin-bottom: 0;
}
.wrap {
	background: #f2f2f2;
	padding-bottom: 8px;
}
.main-nav {
	margin-top: 20px;
}
.main-nav li {
	list-style-type: none;
	display: inline;
	font-size: 16px;
	background: url(../_media/main_nav_separator.png) 100% 60% no-repeat;
	font-family: Arial, Verdana, sans-serif;
}
ul.main-nav li {
	margin: 0 4px 0 0;
}
.main-nav li a {
	padding-right: 8px;
}
.main-nav li.last {
	background: none;
	padding-right: 0;
}
.header {
	padding: 5px;
	padding-bottom: 12px;
}
.sub-nav {
	margin-left: 12px;
	width: 181px;
	float: left;
	margin-right: 10px;
}
.content {
	width: 781px;
	float: left;
}
.sub-nav .menu {
	margin-bottom: 13px;
	padding-bottom: 7px;
	background: #f3f9fc;
	border-left: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.sub-nav ul.menu li {
	list-style-type: none;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
.sub-nav .menu li a {
	list-style-type: none;
	color: #333333;
	display: block;
	padding: 6px 10px;
}
.sub-nav .menu li a:hover {
	color: #1283bf;
}
.sub-nav .menu li a.active {
	background: #1484bf url(../_media/sub_nav_active.png) 0 0 repeat-x;
	color: #FFF;
}
.sub-nav h2 {
	background: #676767 url(../_media/sub_nav_header.png) 0 0 no-repeat;
	display: block;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	padding: 9px 10px 5px 10px;
	margin: 0;
}
.sub-nav .content {
	width: auto;
	float: none;
}
.sub-nav .block ul {
	margin-bottom: 13px;
	padding: 0;
}
.sub-nav li.leaf {
	list-style-image: none;
}
.footer {
	margin-top: 20px;
	border-top: 1px solid #363636;
	padding: 20px 0;
}
.footer p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555;
}
.footer a {
	color: #555;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: none;
}
.items {
	position: relative;
	background: url(../_media/item_list_bg.png) 0 0 repeat-y;
}
.ui-tabs-hide {
	display: none;
}
.item-nav {
	background: #dbeaf4 url(../_media/item_nav_bg.png) 0 0 no-repeat;
	overflow: hidden;
	padding: 11px 12px 11px 24px;
	position: relative;
}
.item-nav li {
	float: left;
	list-style-type: none;
	margin-right: 22px;
	font-family: Arial, Verdana, sans-serif;
}
.item-nav li a {
	font-size: 15px;
	display: block;
	float: left;
	padding: 5px 0 0 0;
	font-weight: bold;
	color: #1283bf;
	width: 73px;
	height: 22px;
	text-align: center;
}
.item-nav li.ui-tabs-selected a {
	background: url(../_media/item_nav_active.png) 0 0 no-repeat;
	color: #FFF;
}
.item {
	padding: 24px 0 20px 0;
	border-top: 1px solid #d7d7d7;
	margin: 0 2px;
	background: url(../_media/item_bg.png) 0 100% repeat-x;
}
.last-item {
	border-bottom: 1px solid #d7d7d7;
}
h3.title {
	margin-bottom: 0;
	position: relative;
	padding-right: 108px;
}
.stars {
	position: absolute;
	right: 0;
	top: 1px;
}
.review-count {
	position: absolute;
	right: 0;
	top: 22px;
	font-weight: normal;
}
.meta {
	font-size: 11px;
	border-top: 1px dotted #8d8d8d;
	padding-top: 12px;
	color: #a1a1a1;
	margin-bottom: 0;
}
.item-list {
	margin-bottom: 12px;
	background: #FFF url(../_media/pager_border.png) 50% 0 no-repeat;
}
.item-list .pager {
	clear:both;
	text-align:center;
}
.item-list ul.pager {
	margin: 0;
	padding: 12px 13px 15px 13px;
	background:  url(../_media/content_box_bottom.png) 0 100% no-repeat;
	text-align: right;
}
.item-list .pager li {
	background-image:none;
	display:inline;
	list-style-type:none;
	padding: 0;
}
.item-list ul li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
}
.pager-item a,
.item-list ul li.pager-current {
	padding: 1px 6px 2px 6px;
	border: 1px solid #e1e1e1;
}
.pager li.pager-ellipsis,
.pager li.pager-next,
.pager li.pager-last {
	border: 0;
	padding: 0;
}
.item-list ul li.pager-current {
	background: #294451;
	border-color: #294451;
	color: #FFF;
	font-weight: normal;
}
li a.active {
	color: #1283bf;
}
li a:hover.active {
	color: #0B5C88;
}
.filefield-element {
	margin: 0;
}
.alt-font {
	font-family: Arial, Verdana, sans-serif;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.center-block {
	margin: inherit auto;
}
.quiet {
	color: #959595;
}
.highlight {
	color: #6ab042;
}
.small {
	font-size: 11px;
}
.large {
	font-size: 13px;
}
.replaced {
	background-color:transparent;
	background-position:0 0;
	background-repeat:no-repeat;
	display:block;
	text-align: left;
	text-indent:-9999px;
}
.error {
	color: #990000;
}
.separator {
	border-bottom: 1px dotted #8d8d8d;
	padding: 0 0 12px 0;
	margin-bottom: 20px;
}
.thumbs img {
	margin-bottom: 18px;
}
.thumb-left {
	float: left;
}
.thumb-right {
	float: right;
}
#messages {
	padding-bottom: 8px;
}
.hide {
	display: none;
}
