/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Server
 * Copyright (C) 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */

/* Offline-specific styles */

BODY {
	width: 100%;
	height: 100%;
	background-color: #5C5C5C;
    background-image: -moz-linear-gradient(top, #5C5C5C, #2E2E2E); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #5C5C5C),color-stop(1, #2E2E2E)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5C5C5C', EndColorStr='#2E2E2E'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5C5C5C', EndColorStr='#2E2E2E')"; /* IE8 */
}

.ZPanel {
	background: #a6a6a9 no-repeat top left;
}

.ZTip a {
	color: #cccccc;
}

.ZDot {
	color: #cccccc;
}
