/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2009, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2009, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
#ZMTB-Appointments
{
	max-height:96px;
	overflow:hidden;
}

.ZMTB-Appt-Box
{
	height:30px;
	overflow:hidden;
	position:relative;
	bottom:0px;
	background-image:url(apptbar.png);
	background-repeat:repeat-x;
	background-position:center;
	border-top: 1px solid #ffe970;
	border-bottom: 1px solid #bf8a01;
	vertical-align:bottom;
}

.ZMTB-Appt-Button
{
	-moz-appearance:none; 
	-moz-border-radius:10px;
	border:1px solid #666666;
	-moz-border-top-colors:#666666;
	-moz-border-bottom-colors:#666666;
	-moz-border-left-colors:#666666;
	-moz-border-right-colors:#666666;
	background-image:url(buttonback.png);
	background-repeat:repeat-x;
	background-position:center;
	height:18px;
	margin:6px;
	min-height: 18px;
}

.ZMTB-Appt-Message
{
	font-weight:bold;
	font-size:10px;
	margin-left:10px;
	padding-top:5px;
}

.ZMTB-Appt-Image
{
	margin-left:10px;	
	background-image:url(calendar.gif);
	background-position:center;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}